Repository ssec/sift, pull requests merged in 2025-02, with the labels that each got.

#442 Remove deprecated PermissionError from psutil in favour of builtin
  uwsift/util/disk_management.py
Labels: bug

#441 Define texture internalformat to fix colormap discretisation
  .gitignore
  uwsift/view/scene_graph.py
Labels: bug, enhancement, component: scene graph

#436 Update and improve handling of projections and area definitions
  .gitignore
  doc/source/configuration/area_definitions.rst
  uwsift/__main__.py
  uwsift/etc/SIFT/config/area_definitions.yaml
  uwsift/model/area_definitions_manager.py
  uwsift/tests/workspace/test_importer.py
  uwsift/ui/layer_details_widget_ui.py
  uwsift/ui/open_file_wizard_ui.py
  uwsift/view/layer_details.py
  uwsift/view/open_file_wizard.py
  uwsift/workspace/importer.py
  uwsift/workspace/simple_workspace.py
Labels: enhancement, component: ui, component: workspace
